@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary: 79 70 229;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
}
a {
  color: rgb(var(--primary));
}

code {
  white-space: break-spaces;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .capsule-label {
    @apply px-3 py-1 bg-gray-100 text-sm rounded-2xl;
  }
  .main-list li {
    @apply border-t;
  }
  .main-list li:last-child {
    @apply border-b;
  }
  .code-block {
    @apply bg-gray-100 p-6 rounded-md my-4 text-gray-600;
  }
}
