@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary: 79 70 229;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  word-break: keep-all;
}
a {
  color: rgb(var(--primary));
  outline: none;
}

code {
  white-space: pre;
  display: block;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .capsule-label {
    @apply px-3 py-1 bg-gray-100 text-sm rounded-2xl;
  }
  .header {
    @apply px-10 py-8 border-b h-[80px] flex items-center;
    position: sticky;
    top: 0;
    z-index: 1;
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(5px);
  }
  .header-category {
    @apply grow flex gap-2 font-bold text-xl;
    flex-shrink: 0;
    * {
      flex-shrink: 0;
    }
  }
  .main-list li {
    @apply border-t;
  }
  .main-list li:last-child {
    @apply border-b;
  }
  .main-list:first-child li:first-child {
    border: none;
  }
  .category-container > div {
    padding: 0;
  }
  .back-button {
    @apply flex gap-1 text-gray-900 p-2 mr-[2px] ml-[-8px] transition-all;

    &:hover {
      color: rgb(var(--primary));
    }
  }
  .back-link {
    @apply transition-all;
    transform: translateX(0);

    &:hover {
      transform: translateX(-4px);
    }
  }
  .code-block {
    @apply bg-gray-100 p-6 text-sm rounded-md my-4 text-gray-600 overflow-y-auto;
  }
  .inline-code {
    @apply px-2 bg-gray-100 rounded-lg text-[#f472b6];
    padding-bottom: 2px;
  }
  .inline-link {
    margin-top: -0.5rem;
    white-space: normal;
    word-break: break-all;
    max-width: 100%;

    .arrow {
      padding-left: 6px;
    }

    &:hover .label {
      text-decoration: underline;
    }
  }
  .inline-divider {
    @apply my-4;
  }
  .inline-image {
    @apply w-full my-4 max-w-[500px] rounded-lg border border-gray-200;
  }
  .list-button {
    @apply w-full px-2 py-3 pr-6 hover:bg-gray-100 hover:px-4 transition-all;

    .label {
    }
    .arrow {
      @apply transition-all;
      opacity: 0;
      &:before {
        content: "";
        padding-left: 6px;
      }
    }
    &:hover .arrow {
      opacity: 1;
    }
  }
}
